<div class="flex w-full">
  <app-sidebar (sidebarToggled)="toggleSidebar($event)"></app-sidebar>
  <div [style.width]="sidebarOpen ? 'calc(100vw - 250px)' : 'calc(100vw - 75px)'" class="fixed top-0">
    <app-navbar [sidebarOpen]="sidebarOpen"></app-navbar>
    <div [ngClass]="sidebarOpen?'sidebar-open':''" class="transition-all duration-500 pt-[5px] pl-[80px] absolute w-[100vw] top-[4rem] h-[calc(100vh-4rem)] bg-[#121d3b] text-white">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
