<div class="fixed left-0 h-[100vh] flex flex-col z-50 bg-[#1f3164] overflow-y-auto transition-all duration-500" [ngClass]="sidebarOpen?'w-[250px]':'w-[75px]'">
  <div class="h-[4rem] flex items-center justify-center text-white font-yanone text-center mx-4 border-b border-dashed border-gray-500">
    <div class="items-center w-full h-full flex justify-between px-2" *ngIf="sidebarOpen">
      <p class="text-xl flex justify-center items-center space-x-4">
        <!-- <i class="fa fa-user text-green-500 mr-4"></i> -->
        <span class="px-3 py-1 text-black text-xl font-maven font-bold bg-green-500 rounded-lg">
          A
        </span>
        <span class="pt-1 text-xl">Angular navigation</span>
      </p>
      <p class="cursor-pointer" (click)="toggleSidebarOpen()"><i class="fa fa-times"></i></p>
    </div>
    <p class="cursor-pointer" (click)="toggleSidebarOpen()" *ngIf="!sidebarOpen"><i class="fa fa-bars"></i></p>
  </div>
  <div class="h-full flex flex-col justify-between py-2">
    <div class="mt-4 font-maven">
      <div class="pl-6 text-md text-gray-400 mb-2" *ngIf="sidebarOpen">
        Base
      </div>
      <ul class="flex flex-col space-y-1 justify-center items-center" *ngFor="let item of data">
        
        <li [ngClass]="sidebarOpen?'w-[90%]':'w-[60%] justify-center pl-0 text-xl'" routerLink="/{{item.routeLink}}" class="cursor-pointer mx-6 text-center pl-4 flex space-x-4 py-2 text-sm text-white rounded-lg hover:bg-[#3f63c6]">
          <span><i class={{item.icon}}></i></span>
          <span *ngIf="sidebarOpen">{{item.label}}</span>
        </li>
      </ul>
    </div>
    <div class="mt-4 font-maven">
      <ul class="flex flex-col space-y-1 justify-center items-center">
      <li (click)="toggleTheme()" [ngClass]="sidebarOpen?'w-[90%]':'w-[60%] justify-center pl-0 text-xl'" class="cursor-pointer mx-6 text-center pl-4 flex space-x-4 py-2 text-sm text-white rounded-lg hover:bg-[#3f63c6]">
        <span *ngIf="lightTheme"><i class="fa fa-sun"></i></span>
        <span *ngIf="!lightTheme"><i class="fa fa-moon"></i></span>
        <div *ngIf="sidebarOpen">
          
          <span *ngIf="lightTheme">Light Theme</span>
          <span *ngIf="!lightTheme">Dark Theme</span>
        </div>
      </li>
    </ul>
    </div>
  </div>
</div>

  